.container-big {
  width: 1280px;
  margin: 0;
  padding: 0;

  background-color: color('textfield-container');
}
.container {
  width: 1200px;
  margin: 0 auto;

  background-color: color('white');
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.obertka {
  width: 400px;

  margin: 47px 50px 40px;
  padding: 0;

  h2 {
    font-size: 21px;
    margin: 0;
    padding: 0;
    margin-bottom: 23px;
  }
  span {

  }
  p {
    margin-top: 22px;
    padding: 0;
  }

}

.form-obertka {
  display: flex;
  flex-direction: column;


  p:first-child {
    label {
      margin-right: 40px;
    }
    .btn-plus {
      margin-right: 51px;
    }
  }
  p:last-child {
    label {
      margin-right: 27px;
    }
  }
}
