body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center; }

a {
  text-decoration: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.main-header {
  margin: 0;
  padding: 0; }

.main-footer {
  display: flex;
  height: 120px;
  justify-content: space-around;
  align-items: center; }
  .main-footer .tag {
    font-weight: 700;
    line-height: 26px;
    font-size: 21px; }
  .main-footer .footer-social {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; }
    .main-footer .footer-social li:nth-child(2) {
      margin-left: 6px;
      margin-right: 6px; }
  .main-footer .developer {
    display: flex;
    align-items: center; }
    .main-footer .developer span {
      margin-right: 6px; }

.container-big {
  width: 1280px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; }

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff; }

.obertka {
  width: 400px;
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0;
  padding: 47px 49px; }
  .obertka h2 {
    font-size: 21px; }

.form-obertka {
  display: flex;
  flex-direction: column; }
  .form-obertka p:first-child label {
    margin-right: 40px; }
  .form-obertka p:first-child .btn-plus {
    margin-right: 51px; }
  .form-obertka p:last-child label {
    margin-right: 27px; }

.main-navigation .main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 138px;
  height: 70px; }

.main-navigation .site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }
  .main-navigation .site-navigation li {
    padding: 15px 70px; }
    .main-navigation .site-navigation li:nth-child(3) {
      margin-left: auto; }
    .main-navigation .site-navigation li a {
      line-height: 26px;
      font-weight: bold;
      color: #000000; }

.button {
  border: none;
  font: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle; }

.search-hotel-button {
  width: 570px;
  margin: 0;
  padding: 32px 137px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357; }
  .search-hotel-button:hover {
    background-color: #604e43; }
  .search-hotel-button:focus {
    background-color: #503e33; }
  .search-hotel-button:active {
    background-color: #503e33; }

.appointment-submit-button {
  width: 460px;
  height: 60px;
  line-height: 26px;
  font-size: 21px;
  background-color: #81b3d2; }
  .appointment-submit-button:hover {
    background-color: #669ec0; }
  .appointment-submit-button:focus {
    background-color: #5496bd; }
  .appointment-submit-button:active {
    background-color: #5496bd; }

.btn-minus,
.btn-plus {
  height: 16px;
  width: 16px; }

.social-button {
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2; }

.appointment-form {
  width: 570px;
  margin: 0;
  padding: 55px 55px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .appointment-form input {
    font: inherit;
    border: none; }
  .appointment-form input[type="date"] {
    width: 346px;
    height: 38px;
    margin-left: 20px;
    background-color: #f2f2f2; }
  .appointment-form input[type="text"] {
    width: 13px;
    height: 13px; }
  .appointment-form p label {
    font-weight: 700;
    line-height: 26px; }

.welcome-banner {
  margin-bottom: 60px;
  width: 100%;
  height: 509px;
  background-color: #00367cdc;
  background-image: url("../img/stripe.png"), url("../img/banner-text.png"), url("../img/intro-bg.jpg");
  background-position: bottom center, center center, top center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, auto, cover; }

.intro {
  margin-bottom: 57px; }
  .intro h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 36px; }
  .intro p {
    color: #333333;
    line-height: 26px;
    margin: 0;
    padding: 0; }

.intro-uno {
  padding: 0;
  margin: 0;
  display: flex; }

.services .services-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }
  .services .services-list li {
    width: 400px;
    padding: 50px 70px; }
    .services .services-list li h3 {
      font-size: 21px; }
    .services .services-list li p {
      color: #333333; }

.intro-two {
  display: flex; }

.intro-other {
  background-color: #eeeeee;
  margin-bottom: 60px; }
  .intro-other .intro-other-items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; }
    .intro-other .intro-other-items li {
      width: 400px;
      padding: 47px 70px; }
      .intro-other .intro-other-items li h3 {
        font-size: 21px; }
      .intro-other .intro-other-items li p {
        color: #333333; }

.appointment-info h2 {
  font-size: 30px;
  line-height: 36px; }

.appointment-info p {
  color: #333333;
  line-height: 24px;
  margin-bottom: 35px; }
