body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center; }

a {
  text-decoration: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.main-header {
  margin: 0;
  padding: 0; }

.container-big {
  width: 1280px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; }

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff; }

.obertka {
  width: 400px;
  color: #ffffff;
  margin: 0;
  padding: 47px 49px; }
  .obertka h2 {
    font-size: 21px; }

.main-navigation .main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 138px;
  height: 70px; }

.main-navigation .site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }
  .main-navigation .site-navigation li {
    padding: 15px 70px; }
    .main-navigation .site-navigation li:nth-child(3) {
      margin-left: auto; }
    .main-navigation .site-navigation li a {
      line-height: 26px;
      font-weight: bold;
      color: #000000; }

.button {
  border: none;
  font: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle; }

.search-hotel-button {
  width: 570px;
  margin: 0;
  padding: 32px 137px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357; }
  .search-hotel-button:hover {
    background-color: #604e43; }
  .search-hotel-button:focus {
    background-color: #503e33; }
  .search-hotel-button:active {
    background-color: #503e33; }

.appointment-submit-button {
  background-color: #81b3d2; }
  .appointment-submit-button:hover {
    background-color: #669ec0; }
  .appointment-submit-button:focus {
    background-color: #5496bd; }
  .appointment-submit-button:active {
    background-color: #5496bd; }

.welcome-banner {
  margin-bottom: 60px;
  width: 100%;
  height: 509px;
  background-color: #00367cdc;
  background-image: url("../img/stripe.png"), url("../img/banner-text.png"), url("../img/intro-bg.jpg");
  background-position: bottom center, center center, top center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, auto, cover; }

.intro {
  margin-bottom: 57px; }
  .intro h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold; }
  .intro p {
    color: #333333;
    line-height: 26px; }

.intro-uno {
  padding: 0;
  margin: 0;
  display: flex; }

.services .services-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }
  .services .services-list li {
    width: 400px;
    padding: 50px 70px; }
    .services .services-list li h3 {
      font-size: 21px; }
    .services .services-list li p {
      color: #333333; }

.intro-two {
  display: flex; }

.intro-other {
  background-color: #eeeeee;
  margin-bottom: 60px; }
  .intro-other .intro-other-items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0; }
    .intro-other .intro-other-items li {
      width: 400px;
      padding: 47px 70px; }
      .intro-other .intro-other-items li h3 {
        font-size: 21px; }
      .intro-other .intro-other-items li p {
        color: #333333; }

.appointment-info h2 {
  font-size: 30px;
  line-height: 36px; }

.appointment-info p {
  color: #333333;
  line-height: 24px;
  margin-bottom: 35px; }
