.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  background-color: #ffffff;

}

a {
  text-decoration: none;
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.intro {
  color: #000000;

  background-color: #ffffff;
  background-image: url("/img/intro-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.intro p {
  color: #333333;
}

.intro-uno {
  color: #ffffff;

  background-color: #81b3d2;

}

.intro-two {
  color: #ffffff;

  background-color: #81b3d2;
}

.services-list {
  list-style: none;
}

.services-list h3 {
  font-size: 21px;
}
