.appointment-form {
  width: 570px;
  margin: 0;
  padding: 55px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    font: inherit;
    border: none;
  }
  input[type="date"] {
    width: 346px;
    height: 38px;
    margin-left: 20px;
    background-color: color('textfield-container');
  }
  input[type="text"] {
    width: 13px;
    height: 13px;
  }
  p {

    label {
      font-weight: 700;
      line-height: 26px;
    }
  }
}

.filter {
  display: flex;

  background-color: #ffffff;
  background-image: url("../img/filter-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  legend {
    font-weight: 700;
    font-size: 16px;
  }
  ul {
    li {
      padding: 0;
      margin: 0;
      margin-bottom: 30px;
    }
  }
  .filter-infrastructure {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .filter-quarters-type {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .cost-per-day-filter {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .cost-per-day-field {

  }
}
