.appointment-form {
  width: 570px;
  margin: 0;
  padding: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    font: inherit;
    border: none;
  }

  input[type="date"] {
    width: 346px;
    height: 38px;
    margin-left: 20px;
    background-color: $textfield-container;
  }

  input[type="text"] {
    width: 13px;
    height: 13px;
  }

  p {
    label {
      font-weight: 700;
      line-height: 26px;
    }
  }
}

.filters {
  margin-bottom: 31px;

  .filter {
    display: flex;
    color: $white;
    background-color: color("black");
    background-image: url("../img/filter-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;

    fieldset {
      border: none;
      margin: 0;
      padding: 0;
    }

    legend {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 25px;
      text-align: left;
    }

    .filter-option {
      margin: 0 0 23px;
      position: relative;
      padding: 0 0 0 40px;
      text-align: left;
    }

    .filter-field-infrastructure {
      margin-left: 71px;

      .filter-infrastructure {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    .filter-field-quarters {
      margin-left: 125px;

      .filter-quarters-type {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    .cost-per-day-field {
      margin-left: auto;
      margin-right: 74px;

      legend {
        margin-bottom: 11px;
      }

      .cost-per-day-filter {
        display: flex;
        list-style: none;
        padding: 0;
        border: 2px solid $white;
        width: 320px;
        margin: 0 0 22px;

        .filter-option-cost {
          width: 160px;
          position: relative;

          .filter-input {
            text-align: center;
            height: 32px;
          }

          &:first-child::after {
            content: "";
            position: absolute;
            left: 100%;
            top: 3px;
            bottom: 3px;
            width: 2px;
            background: $white;
          }
        }
      }

      .range-slider {
        padding: 0;
        margin: 0 0 34px;

        position: relative;
        width: 200px;
        height: 35px;
        text-align: center;

        input {
          pointer-events: none;
          position: absolute;
          overflow: hidden;
          left: 0;
          top: 15px;
          width: 200px;
          outline: none;
          height: 18px;
          margin: 0;
          padding: 0;

          &::-webkit-slider-thumb {
            pointer-events: all;
            position: relative;
            z-index: 1;
            outline: 0;
          }

          &::-moz-range-thumb {
            pointer-events: all;
            position: relative;
            z-index: 10;
            -moz-appearance: none;
            width: 9px;
          }

          &::-moz-range-track {
            position: relative;
            z-index: -1;
            background-color: rgba(0, 0, 0, 1);
            border: 0;
          }

          &:last-of-type::-moz-range-track {
            -moz-appearance: none;
            background: none transparent;
            border: 0;
          }
        }

        input[type="range"]::-moz-focus-outer {
          border: 0;
        }
      }
    }
  }
}
