$slider-line: #fff;
$slider-outrange: gray;
/* Доделать ползунок, за рейнджем цвет не меняется*/
.range-slider {
  width: 320px;
  margin-bottom: 33px;

  .noUi-horizontal {
    height: 2px;

    .noUi-base {
      .noUi-connects {
        background: $slider-line;

        .noUi-connect {
          background: $slider-outrange;
        }
      }

      .noUi-handle {
        height: 20px;
        width: 20px;
        top: -10px;
        right: -10px;
        border-radius: 100%;
        background: gray;
        box-shadow: none;
        border: 8px solid white;

        &:before, &:after {
          display: none;
        }
      }
    }
  }
}
