.welcome-banner {
  margin-bottom: 58px;
  width: 100%;
  height: 509px;
  background-color: #00367cdc;
  background-image: url("/img/stripe.png"), url("/img/banner-text.png"), url("/img/intro-bg.jpg");
  background-position: bottom center, center center, top center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, auto, cover;
}

.intro {
  margin-bottom: 50px;

  h2 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 27px;
  }

  p {
    color: $gray;
    line-height: 26px;
    margin: 0;
    padding: 0;
  }
}

.intro-uno {
  padding: 0;
  margin: 0;
  display: flex;
  color: $white;
  background-color: $blue;

  .obertka {
    h2 {
      padding: 0 70px;
    }
  }
}

.services {
  &-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: 400px;
      padding: 160px 53px 80px;

      h3 {
        position: relative;
        font-size: 21px;
        margin: 0 0 24px;
        padding: 0;
      }

      p {
        color: $gray;
        margin: 0;
        padding: 0;
      }
    }

    li:first-child h3::before {
      content: "";
      top: -99px;
      margin-left: -4px;
      position: absolute;
      width: 75px;
      height: 72px;
      background-image: url("/img/icon-1.png");
    }

    li:nth-child(2) h3::before {
      content: "";
      top: -99px;
      margin-left: -20px;
      position: absolute;
      width: 74px;
      height: 70px;
      background-image: url("/img/icon-3.png");
    }

    li:last-child h3::before {
      content: "";
      top: -105px;
      margin-left: 19px;
      position: absolute;
      width: 64px;
      height: 76px;
      background-image: url("/img/icon-2.png");
    }
  }
}

.intro-two {
  display: flex;
  color: $white;
  background-color: $blue;

  .obertka {
    margin: 47px 45px 40px;

    h2 {
      padding: 0 80px;
    }

    p {
      padding: 0;
    }
  }
}

.intro-other {
  background-color: $bg-white;
  margin-bottom: 48px;

  .intro-other-items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: 400px;
      padding: 50px 68px 60px;

      h3 {
        font-size: 21px;
        margin-bottom: 25px;
        padding: 0 55px;
      }

      p {
        color: $gray;
        margin-top: 20px;
      }
    }
  }
}

.appointment-info {

  h2 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 28px;
  }

  p {
    color: $gray;
    line-height: 24px;
    margin-bottom: 43px;
  }
}
