.inner-page {
  .filters {
    .filter {
      padding-top: 28px;
      padding-bottom: 10px;
    }
  }

  .sorting {
    display: flex;
    margin-left: 72px;

    span {
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
    }
    h2 {
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
    }

    ul {
      list-style: none;
    }
  }
  .results {
    margin-left: 72px;
  }
}

.filter-input-checkbox {

  & + label::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;

    width: 23px;
    height: 23px;

    background-image: url("../img/checkbox-off.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &:checked + label::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;

    width: 27px;
    height: 23px;

    background-image: url("../img/checkbox-on.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}
