.inner-page {
  .filters {
    .filter {
      padding-top: 28px;
      padding-bottom: 10px;
    }
  }

  .sorting {
    display: flex;
    margin-left: 72px;
    align-items: center;

    span {
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
    }

    h2 {
      font-size: 12px;
      line-height: 18px;
      font-weight: normal;
      margin-left: 48px;
    }

    ul {
      display: flex;
      list-style: none;
      font-size: 12px;
      line-height: 18px;
    }

    .sorting-by {
      margin-left: 48px;

      li {
        margin-right: 33px;

        .sorting-by-item {
          opacity: 0.3;
          border-bottom: dotted $blue;
        }

        .active {
          color: $blue;
          opacity: 1;
          border: none;
        }
      }
    }

    .sorting-from {
      margin-left: auto;
      list-style: none;
      padding: 0;

      a {
        display: inline-block;
        width: 11px;
        height: 10px;
      }

      .sorting-from-high {
        background-image: url("/img/icon-up-dir.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        // костыль для скрытия текста
        text-indent: 400px;
        margin-right: 12px;
      }

      .sorting-from-down {
        background-image: url("/img/icon-down-dir.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        // костыль для скрытия текста
        text-indent: 400px;
        margin-right: 73px;
      }
    }
  }

  .results {
    margin-left: 72px;
  }
}

.filter-input-checkbox {
  & + label::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url("/img/checkbox-off.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &:checked + label::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 23px;
    background-image: url("/img/checkbox-on.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}
