.inner-page {
  .filter {
  }

  .sorting {
    display: flex;
    margin-left: 72px;

    span {
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
    }
    h2 {
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
    }

    ul {
      list-style: none;
    }
  }
  .results {
    margin-left: 72px;
  }
}
